:root {
    --nav-height-big: calc(6.75rem  + var(--rainbow-thickness));
    --nav-height-small: var(--rainbow-thickness);

    --rainbow-thickness: 4px;
    --line-thickness: 2px;

    --emphasized-letterspacing: 0px;
}

@media (min-width: 1024px) {
    :root {
        --nav-height-big: calc(8.1rem + var(--rainbow-thickness) + var(--line-thickness));
        --nav-height-small: calc(4.5rem + var(--rainbow-thickness) + var(--line-thickness));
    }
}