<!-- wp:template-part {"slug":"header"} /-->

<main>

    <!-- wp:post-content {"className":"wrapper"} /-->

    <!-- wp:group {"className":"wrapper"} -->
    <div class="wp-block-group wrapper">

        <!-- wp:group {"className":"pagination"} -->
        <div class="wp-block-group pagination">

            <!-- wp:post-navigation-link {"type":"next","showTitle":true} /-->

            <!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->

        </div>
        <!-- /wp:group -->

        <!-- wp:separator -->
        <hr class="wp-block-separator"/>
        <!-- /wp:separator -->

        <!-- wp:template-part {"slug":"recent-posts"} /-->

    </div>
    <!-- /wp:group -->
     
</main>

<!-- wp:template-part {"slug":"footer"} /-->
